.content{
    padding-top: 40vh;
}
.head{
    background: linear-gradient(-45deg,#1875FF, #2ccee3, #1875FF);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: 700;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    text-align: center;
    position: relative;
}
.icon{
    color: #1875FF;
}
.icon:hover{
    cursor: pointer;
}
.icon:active{
    cursor: pointer;
    color: black;
}
.disable-button{
    opacity:0.5;//设置蒙版效果
    pointer-events:none;//禁止鼠标事件

}
.url{
    display: flex;
    align-items: center;
}
.downClass{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.loader{
    width: 45%;
    margin: 0 auto;
}
#msg{
    font-weight: 100;
    color: #1875FF;
}
.start{
    color: #909399;
}
.half{
    color: #e6a23c;
}
.end{
    color: #67c23a;
}
.ok{
    color: #379cfb;
}
.el-descriptions-item__container{
    align-items: center;
}
.footer{
    position: absolute;
    bottom: 10px;
    left: 40%;
}
.notice{
    color: #909399;
}
.link{
    color: #1875FF;
}
