<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>文件下载器</title>
    <link rel="stylesheet" th:href="@{/index.css}" />
    <link rel="stylesheet" th:href="@{/diy.css}" />
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
      <div class="content">
          <h1 id="msg">aasssss</h1>
          <input type="text" id="downUrl" class="input" name="downUrl" placeholder="请输入文件下载地址"/>
          <button class="button" style="vertical-align:middle" onclick="download()"><span>下载文件</span></button>
          <div style="display: none" class="loader"></div>
      </div>
</body>
<script>
    let load = false;
    let task;
    function download(){
        let downUrl = document.getElementById('downUrl').value;
        let flag = verify(downUrl);
        let msg = document.getElementById('msg');
        if (!flag){
            msg.innerHTML = '下载地址不合法';
            setTimeout(()=>{
                msg.innerHTML = '';
            },3000)
            return;
        }
        let fileName = getFileName(downUrl);
        loadCloseOrOpen();
        axios.post('/download', {
            downUrl: downUrl,
        }).then(function (response) {
            msg.innerHTML = response.data;
            setTimeout(()=>{
                msg.innerHTML = '';
            },3000)
            loadCloseOrOpen()
        })
        task = setInterval(()=>{
            refreshProgress(fileName)
        },1000);
    }
    function verify(downUrl){
        if (downUrl.indexOf('http')<0 && downUrl.indexOf('http')<0){
            return false;
        }else {
            return true;
        }
    }
    function loadCloseOrOpen(loadResult){
        let load = document.getElementsByClassName('loader')[0];
        if (load.style.display==='none'){
            load.style.display = ''
        }else {
            load.style.display='none'
        }
    }
    function refreshProgress(fileName){
        if (!fileName){
            return
        }
        axios.get('/getDownResult/'+fileName)
            .then(function (res){
                if (res.data){
                    console.log('正在下载')
                    console.log(res.data)
                }else {
                    load = false;
                    console.log('下载完成')
                    clearInterval(task)

                }
            })
    }
    function getFileName(url){
        return url.split('/')[url.split('/').length - 1];
    }
</script>
</html>
